header.header.bg-blue
    .box-header.flex-v-center.flex-h-between
        //- Brand Logo
        .logo
            img.logo-sinopac(src="images/brand/logo.png")

        //- Hamburger button for mobile
        .hamburger
            span.hamburger-line
            span.hamburger-line
            span.hamburger-line

        //- Global navigation
        nav.navi-global
            .navi-item.active
                a.navi-item-a(href= "#") 海外股票/ETF
                .navi-subItem
                    a.navi-subItem-a(href= "#") 美股/ETF報價
                    a.navi-subItem-a(href= "#") 港股ETF報價
            .navi-item
                a.navi-item-a(href= "#") 庫存明細
            .navi-item
                a.navi-item-a(href= "#") 快速下單
            .navi-item.active
                a.navi-item-a(href= "#") 委託單査詢/變更
                .navi-subItem
                    a.navi-subItem-a(href= "#") 委託中
                    a.navi-subItem-a(href= "#") 歷史查詢
            .navi-item.active
                a.navi-item-a(href= "#") 交易與帳務
                .navi-subItem
                    a.navi-subItem-a(href= "#") 歷史交易紀錄
                    a.navi-subItem-a(href= "#") 已實現損益
                    a.navi-subItem-a(href= "#") 配息紀錄
            .navi-item
                a.navi-item-a(href= "#") 我的自選股
            .navi-item
                a.navi-item-a(href= "#") 返回MMA
            button.navi-item-btn.btn-solid.btn-back 返回行動銀行
            button.navi-item-btn.btn-hollow.btn-logout 登出