section.note.bg-gray-1.flex-h-center
    .box-note
        p 注意事項
        p.color-gray-4
            | 1.本項投資報酬率達滿足點/停損點通知係依據ETF/美股個別標的庫存之投資報酬率計算，惟因庫存來自不同時點之交易，委託人委託受託人執行賣出交易時，受託人將依先投資先處分原則計算該次賣出交易之投資報酬率，該投資報酬率可能與本通知服務之報酬率不同(可能較低、較高或相同)。
            br
            | 2.同一信託帳號下以相同信託幣別再次買進同一投資標的或申請變更設定，原已設定之投資報酬率滿足點/停損點，將以再次買進設定或變更後設定為準。
            br
            | 3.本項投資報酬率達滿足點/停損點通知，如遇臺灣非營業日，將無法提供該項服務。
